.page8 {
    width: 1440px;
    height: 750px;
    flex-shrink: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
}

.dt12 {
    height: 677px;
    width: 654px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 40px;
}

.dt12 h1 {
    color: #000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.dt13 {
    width: 654px;
    height: 455px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.frame1 {
    width: 650px;
    height: 119px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame1 p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame1 input {
    width: 650px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    border: none;
    color: rgba(0, 0, 0, 0.25);
    font-family: ' Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-left: 30px;
}

.frame2 {
    width: 654px;
    height: 187px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame2 h2 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame2 p {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inp {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inp input {
    width: 400px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;
    border: none;
}

.inp button {
    display: inline-flex;
    padding: 20px 70px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #17C2EC;
    border: none;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dt14 {
    width: 443px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dt14 p {
    color: rgba(0, 0, 0, 0.50);
    font-family: ' Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dt14 a {
    color: #17C2EC;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.dt15 {
    width: 401px;
    height: 575px;
    flex-shrink: 0;
    position: relative;
}

.dt15 button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 60px;
    left: 105px;
    border: none;
}