.page8 {
    width: 1440px;
    height: 750px;
    flex-shrink: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
}

.dt12 {
    height: 677px;
    width: 654px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 40px;
}

.dt12 h1 {
    color: #000;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.dt13 {
    width: 654px;
    height: 455px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.frame1 {
    width: 650px;
    height: 119px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame1 p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame1 input {
    width: 650px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    border: none;
    color: rgba(0, 0, 0, 0.25);
    font-family: ' Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-left: 30px;
}

.frame2 {
    width: 654px;
    height: 187px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame2 h2 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frame2 p {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inp {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inp input {
    width: 400px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;
    border: none;
}

.inp button {
    display: inline-flex;
    padding: 20px 70px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #17C2EC;
    border: none;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dt14 {
    width: 443px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dt14 p {
    color: rgba(0, 0, 0, 0.50);
    font-family: ' Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dt14 a {
    color: #17C2EC;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.dt15 {
    width: 401px;
    height: 575px;
    flex-shrink: 0;
    position: relative;
}

.dt15 button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    bottom: 60px;
    left: 105px;
    border: none;
}

@media(max-width: 600px) {
    .page8 {
        width: 100%;
        height: auto;
        background: #fff;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 35px;
        position: relative;
    }

    .dt12 {
        width: 375px;
        height: auto;
        flex-shrink: 0;
        /* border: 1px solid red; */
        align-items: center;
        gap: 40px;
    }

    .dt12 h1 {
        width: 230px;
        font-size: 24px;
        position: absolute;
        top: 35px;
        left: 73px;
    }

    .dt13 {
        width: 321px;
        height: 465px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .frame1 {
        width: 305px;
        height: 87px;
    }

    .frame1 p {
        font-size: 14px;
    }

    .frame1 input {
        width: 305px;
        height: 50px;
        border-radius: 18px;
        font-size: 14px;
        padding-left: 20px;
    }

    .frame2 {
        width: 321px;
        height: auto;
        flex-shrink: 0;
    }

    .frame2 h2 {
        font-size: 14px;
    }

    .frame2 p {
        font-size: 14px;
    }

    .inp {
        width: 305px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .inp input {
        width: 305px;
        height: 50px;
        border-radius: 10px;
        font-size: 14px;
        padding-left: 20px;
    }

    .inp button {
        border-radius: 10px;
        font-size: 14px;
    }

    .dt14 {
        width: 305px;
        height: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .dt14 p {
        font-size: 14px;
    }

    .dt14 a {
        font-size: 14px;
    }

    .dt15 {
        width: 305px;
        height: 437.344px;
        flex-shrink: 0;
        position: relative;
        margin-top: 115px;
    }

    .dt15 img {
        width: 289.028px;
        height: 418.329px;
        flex-shrink: 0;
    }

    .dt15 button {
        width: 200px;
        height: 50px;
        font-size: 14px;
        position: absolute;
        bottom: 49.34px;
        left: 50px;
        border: none;
    }
}